<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/beefd5b891.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/assets/lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>
<body>
    <header id="header">
        <div class="top-head">
            <div class="container-lg container-md container-sm">
                <div class="d-flex align-items-center justify-content-between">
                </div>
            </div>
        </div>
        <div class="bottom-head my-2">
            <div class="container-lg container-md container-sm">
                <div class="logo-part d-flex justify-content-center align-items-center">
                    <a href="#"><img src="assets/images/result.png" alt=""></a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            @RenderBody()

        </div>
    </main>
    <footer id="footer">
        <div class="footer-main">
            <div class="container-lg container-md container-sm">
      
            </div>
        </div>
        <div class="footer-last">
            <div class="container-lg container-md container-sm">
                <div class="last-text">
                    <p>2023 © GRANDPUB&GRILL</p>
                </div>
            </div>
        </div>
    </footer>
  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
